<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-xs-6 col-xs-offset-3 form-frame">
      <h2 id="sign-up-title">Create Your Own Nest</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
        <div class="form-group">
          <%= f.select(:market, [["*Select your intended use", ""],"Education (School)", "Education (College/University)", "Business", "Personal"], {}, {:class=>"form-control"}) %>
        </div>

        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "*First Name" %>
        </div>

        <div class="form-group">
          <%= f.text_field :lastname, class: "form-control", placeholder: "*Last Name" %>
        </div>
   

        <div class="form-group">
          <%= f.email_field :email, class: "form-control", placeholder: "*Email Address"  %>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "*Password"  %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "*Confirm Password"  %>
        </div>

        <div class="actions">
          <%= f.submit "Create my nest", class: "btn btn-success sign-in-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

