<div class="content-wrapper" id="subs-wrapper">

<h2><b>User Account</b></h2>
Created: <%= @user.created_at.strftime("%d %b %Y at %H:%M")%><br><br>

Email: <%= @user.email %><br><br>

First Name: <%= @user.name%><br>
Last Name: <%= @user.lastname%><br><br>

Link Count: <%= @user.links.count%> | Active: <%= @user.links.active.count %> | Expired: <%= @user.links.count - @user.links.active.count %><br><br>

<h3><b>Subscriptions</b></h3><br>
<div class="table-responsive">
<table class="table table-condensed" id="subs-table">
	<tr>
		<th><b>Code</b></th>
		<th><b>Plan</b></th>
		<th><b>Status</b></th>
		<th><b>Amount</b></th>
		<th><b>Period</b></th>
		<th><b>Discount</b></th>
		<th><b>Action</b></th>
	</tr>
	<% if @unpaidsubs.present? %>
		<tr><th colspan="7"><b>Suspended</b></th></tr>
		<% @unpaidsubs.each do |link| %>
		<tr class="danger">
			<%= render "table_rows", link: link %>
		</tr>
		<% end %>
	<% end %>
	<tr><th colspan="7"><b>Active</b></th></tr>
	<% if @subs %>
		<% @subs.each do |link| %>
		<tr class="success">
			<%= render "table_rows", link: link %>
		</tr>
		<% end %>
	<% end %>
	<% if @canceledsubs.present? %>
		<tr><th colspan="7"><b>Canceled</b></th></tr>
		<% @canceledsubs.each do |link| %>
		<tr class="active">
			<td><%= link.metadata.code %></td>
			<td><%= link.plan.id %></td>
			<td><%= link.status %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
	<% end %>
</table>
</div>

<%= link_to "Edit My Details", edit_user_registration_path %>

</div>

  



