<div class="content-wrapper">

<h2>User Account</h2>
Created: <%= @user.created_at.strftime("%d %b %Y at %H:%M")%><br><br>

Email: <%= @user.email %><br><br>

First Name: <%= @user.name%><br>
Last Name: <%= @user.lastname%><br><br>

Link Count: <%= @user.links.count%><br>
Active: <%= @user.links.active.count %><br>
Expired: <%= @user.links.count - @user.links.active.count %><br><br>

Subsciptions<br><br>

<table class="table">
	<tr>
		<th><b>Code</b></th>
		<th><b>Plan</b></th>
		<th><b>Status</b></th>
		<th><b>Amount</b></th>
		<th><b>Period</b></th>
		<th><b>Discount</b></th>
		<th><b>Action</b></th>
	</tr>
	<tr><th colspan="7">Active</th></tr>
	<% if @subs %>
		<% @subs.each do |link| %>
		<tr>
			<td><%= link.metadata.code %></td>
			<td><%= link.plan.id %></td>
			<td><%= link.status %></td>
			<td><%= stripe_to_cur(link.plan.amount) %></td>
			<td><%= link.plan.interval %></td>
			<td><%= link.discount ? link.discount.coupon.percent_off.to_s + "% " + link.discount.coupon.duration : "-" %></td>
			<td><%= link_to "Cancel", cancel_sub_user_path(@user, link.id), method: :patch, data: { confirm: "Are you sure you wish to end your subscription to @#{link.metadata.code}?", title: "Cancel Subscription", verify: "#{link.metadata.code}", verify_text: "Enter #{link.metadata.code} below to confirm that you wish to end your subscription. You will no longer be able to use this code beyond #{Time.at(link.current_period_end).strftime("%H:%M on %d %b %Y")}. This action is non-reversable and you will not be charged any future payments for this link!", commit: "End Me", cancel: "Keep Me" } %></td>
		</tr>
		<% end %>
	<% end %>
	<tr><th colspan="7">Canceled</th></tr>
	<% if @canceledsubs %>
		<% @canceledsubs.each do |link| %>
		<tr>
			<td><%= link.metadata.code %></td>
			<td><%= link.plan.id %></td>
			<td><%= link.status %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
	<% end %>
</table>

<%= link_to "Edit My Details", edit_user_registration_path %>

</div>

  



