
<div class="fetch-bg">
	<div class="fetch-wrapper">
		
		<div class="welcome-logo"><%= image_tag("tilt-logo.png", :alt => "Nested Logo")%></div> 
		<div id="logo">Nested</div>

		<div id="title">super easy links</div>

			<%= form_tag(root_path, :method => "get", id: "search-form") do %>
		
				<div class="form-group">
					<div class="input-group">
					<div class="input-group-addon">@</div>
						<%= text_field_tag :search, params[:search], placeholder: "enter code here", :required => true, oninvalid: "this.setCustomValidity('Please enter a Nested code')", oninput: "setCustomValidity('')", class: "form-control code-input"  %>
					</div>
				</div>			
    	
  		<br>

			<%= submit_tag "Fetch!", class: "submit-code-btn" %>
		
			<% end %>
	</div>
</div>

<div class="page-links">
  <% if user_signed_in? %>
				<%= link_to links_path do %>
					<%= current_user.name %>'s Nest 
				<% end %> |
				<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign in", new_user_session_path %> |
				<%= link_to "Create your own nest", new_user_registration_path %>
			<% end %>
</div>

