<div class="fetch-bg">
	<div class="fetch-wrapper">
		
		<div id="logo">
			nested
			<div id="clouds"></div> 
		</div>

	
			<div id="title">super easy links</div>

			<%= form_tag(root_path, :method => "get", id: "search-form") do %>
		
				<div class="form-group">
					<div class="input-group">
					<div class="input-group-addon">@</div>
						<%= text_field_tag :search, params[:search], placeholder: "enter code here", :required => true, oninvalid: "this.setCustomValidity('Please enter a Nested code')", oninput: "setCustomValidity('')", class: "form-control code-input"  %>
						<div id="arrow-img"><%= image_tag("arrow.png", :alt => "arrow")%></div> 
					</div>
				</div>	
					 		
				<%= submit_tag "fetch!", class: "submit-code-btn" %>
		
			<% end %>
		</div>

</div>

<div id="landing-wrapper">
	<div id="landing-color-section">
		<div id="landing-color-section-header">
			<div id="landing-user-form">
	      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-inline"}) do |f| %>
		          <%= f.email_field :email, class: "form-control", placeholder: "Email Address"  %>
		          <%= f.submit "Create a free account", class: "btn landing-btn-submit" %>
		    <% end %>
		  </div>
			or learn more about <logo>nested</logo><br><br>
			<i class="fa fa-arrow-circle-down fa-lg"></i>
		</div>

		<div class="landing-h1" id="example-uses">What is nested?</div>
		<div class="line-spaced landing-main-text narrow" id="brief">
			It’s simple really. Nested allows you to assign any url or link to a simple 4-6 digit code, for you to share with the world.
		</div>

		<div id="trio-boxes" class="row">
			<div class="box col-md-4"><%= image_tag("landing-box1.png", :alt => "arrow", size: '220')%></div>
			<div class="box col-md-4"><%= image_tag("landing-box2.png", :alt => "arrow", size: '220')%></div>
			<div class="box col-md-4"><%= image_tag("landing-box3.png", :alt => "arrow", size: '220')%></div>
		</div>

		<div class="landing-h1">Why do I need this?</div>
		<div class="line-spaced landing-main-text narrow" id="why-text">
			A good question. If you have ever needed to share a web location with someone, but werent able to electronicaly send that link, nested is for you.
			<br><br>
			Check out a few example uses.
		</div>
		
		<div class="narrow-dots-container">
			<div class="dots left-dots">
			</div>
		</div>
		
		<div class="landing-text-container">
			<div class="row">
				<div class="col-sm-6">
					<div class="landing-h1">Example 1 - Education.</div>
					<div class="line-spaced landing-main-text" id="example-education">
						Mr Birdie, a teacher in the modern age. He often prints worksheets for his students to work from, but there’s a problem. He would like his class to visit a web page that he found for one of his activities...
						<br><br>
						www.somebrilliantwebpage.net/perfectformyless/3h3jdjkkf8898ds.html
						<br><br>
						His 30 students need to painstakingly copy this link into their own web browsers, avoiding typos, to view the content. Wouldn’t it be easier to assign that url to a simple code such as @1234, and share that instead?
						<br><br>
						Mr Birdie could get his class to bookmark "nested.link" so that it's super easy to navigate to, to enter a code whenever he presents one. Simple!
					</div>
				</div>
				<div class="col-sm-6 example-image">
					<div id="blackboard-img"><%= image_tag("blackboard.png", :alt => "blackboard")%></div>
				</div>
			</div>
		</div>

		<div class="wide-dots-container">
			<div class="dots wide-dots">
			</div>
		</div>
		
		<div class="landing-text-container">
			<div class="row">
				<div class="col-sm-6 example-image">
					<div id="tv-img"><%= image_tag("share-tv.png", :alt => "TV image")%></div>
				</div>
				<div class="col-sm-6">
					<div class="landing-h1">Example 2 - Commercial.</div>
					<div class="line-spaced landing-main-text" id="example-education">
						Emma is in marketing, and has been tasked with developing radio and tv ads for a new product. Her company has online media for this product, but they need to make it as accessible to the viewing or listening audience as possible. Bring in nested. Instead of trying to promote even a shortened url, a simple code can be used, that anyone can remember or jot down quickly.
						<br><br>
						Nested even provides simple analytics too. Great!
					</div>
				</div>
			</div>
		</div>

		<div class="dots-container-right narrow-dots-container">
			<div class="dots right-dots">
			</div>
		</div>
		
		<div class="landing-text-container">
			<div class="landing-main-text-center">
				<div class="landing-h1">Example 3 - Personal</div>
				<div class="line-spaced landing-main-text" id="why-text">
					Most of us have a Facebook profile or other social media account these days. It can be tricky to connect with people we have no existing relationships with. 
					<br><br>
					Why not assign your Facebook, or Linkdin profile to a code, and have your own unique web number, ready to share like a phone number. Genius! 
				</div>
				<div id="share-img"><%= image_tag("facebook.png", :alt => "Share")%></div>
			</div>
		</div>
		<br><br>
		<div class="landing-main-text-center">
			<div class="landing-h1">Coming Soon!</div>
			<div class="line-spaced landing-main-text" id="why-text">
				We have some exciting ideas that we will be introducing to nested very soon.<br> <%= link_to "Create a free account", new_user_registration_path %> to be kept in the loop.
			</div>
		</div>
	</div>
	<div id="welcome-footer">
		<i class="fa fa-copyright"></i> Nested 2016-2017
	</div>
</div>