
<div class="fetch-bg">
	<div class="fetch-wrapper">

		<div id="logo">Nested</div>

		<div id="title">SUPER EASY LINKS</div>

			<%= form_tag(root_path, :method => "get", id: "search-form") do %>
		
				<div class="form-group">
					<div class="input-group">
					<div class="input-group-addon">@</div>
						<%= text_field_tag :search, params[:search], placeholder: "enter code here", :required => true, oninvalid: "this.setCustomValidity('Please enter a Nested code')", oninput: "setCustomValidity('')", class: "form-control code-input"  %>
					</div>
				</div>			
    	
  		<br>

			<%= submit_tag "Go!", class: "submit-code-btn" %>
		
			<% end %>
			 
		
			<div class="mylinks">
			<% if user_signed_in? %>
				<%= link_to links_path do %>
				<div><%= current_user.name %>'s Nest</div>
				<% end %>
				<%= link_to edit_user_registration_path do %>
				<div><%= current_user.name %>'s Account</div>
				<% end %>
			<% else %>
				<%= link_to "Sign in", new_user_session_path %> |
				<%= link_to "Create your own nest", new_user_registration_path %>
			<% end %>
		</div>
	</div>
</div>