<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <%= f.hidden_field :subscribe_opt %>
   <%= f.hidden_field :code, value: @code.code if @code %>

  <div class="field">
    <%= f.label :subscribe_opt, value: "Subscription" %><br>
    <%= f.text_field :subscribe_opt %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :maxlength => 35 %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.url_field :link %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.text_field :goal %>
  </div>
  <% if current_page?(controller: 'links', action: 'new') %>
   Code: <%= @code.code %>
  <% else %>
    <iframe src="<%= @link.link %>"></iframe>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
