<div class="link-form-wrapper">
<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :subscribe_opt %>
  <%= f.hidden_field :code, value: @code.code if @code %>


  <div class="details-wrap <%= subscription(@link.subscribe_opt).downcase %>">
    <div class="new-link-form-title">
      <div class="token-tag">
        <%= image_tag("sub-tag-#{@link.subscribe_opt}.png", :alt => "Token-Tag", size: "80") %>
      </div> 
      <% if current_page?(controller: 'links', action: 'new') %>
        @<%= @code.code %>
      <% else %>
        @<%= @link.code %>
      <% end %>
    </div>

    <h2 id="link-details-title"><%= subscription(@link.subscribe_opt) %> Details</h2>
    <div class="field">
      <%= f.text_field :title, :maxlength => 35, class: "form-control", placeholder: "Enter a short description" %>
    </div>
    <div class="field">
      <div id="url-placeholder">http://www.</div>
      <%= f.text_field :link, class: "form-control url_field" , placeholder: "Complete Me!", :pattern => "(?!www|https?:\/\/).+", :title => "Do NOT include http(s):// or www. in your entry" %>
      <div id="url-instruction"><small>Complete the url with the address you want to link to.</small></div>
    </div>
    <div class="field hits">
      <div class="hits-label">
      <b>Hits Target</b><br>
      <small>(Optional)</small>
      </div> 
      <%= f.text_field :goal, class: "form-control hits" %>
    </div>
  </div>

    <div class="form-group coupon form-inline">
    <%= f.text_field :coupon, class: "form-control coupon", placeholder: "Enter coupon code here" unless @link.subscribe_opt == 0 %> 
    <%= f.submit "Activate Link*", class: "btn btn-success"%> <%= link_to 'Cancel', links_path, class: "btn btn-danger" %>

    <% unless @link.subscribe_opt == 0 %>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-email=<%= current_user.email%>
        data-key="<%=Rails.configuration.stripe[:publishable_key] %>"
        data-image="<%= asset_path 'logo_for_stripe.png' %>"
        data-name="Nested Links"
        data-description= "Payment Details"
        data-panel-label="Add"
        data-label="Activate Link">
      </script>
    <% end %>
   </div>
   <% unless @link.subscribe_opt == 0 %>
   <p><small><small>*100% free for life promotional links may still require payment details to be given for the sake of our subscription and verification process, however you will only ever be charged (or not charged) as per the conditions of the offer or promotion.</small></small></p>
   <% else %>
   <small>*Expires after 24 Hours</small>
   <% end %>

<% end %>

</div>
