<div class="link-form-wrapper">
<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :subscribe_opt %>
  <%= f.hidden_field :code, value: @code.code if @code %>


  <div class="details-wrap <%= subscription(@link.subscribe_opt).downcase %>">
    <div class="title">
      <div class="tag">
        <%= image_tag("sub-tag-#{@link.subscribe_opt}.png", :alt => "Silver", size: "80") %>
      </div> 
      <% if current_page?(controller: 'links', action: 'new') %>
        @<%= @code.code %>
      <% else %>
        @<%= @link.code %>
      <% end %>
    </div>

    <h2><%= subscription(@link.subscribe_opt) %> Details</h2>
    <div class="field">
      <%= f.text_field :title, :maxlength => 35, class: "form-control", placeholder: "Enter a short description" %>
    </div>
    <div class="field">
      <%= f.url_field :link, class: "form-control", placeholder: "Enter a valid url or web address" %>
    </div>
    <div class="field hits">
      <div class="hits-label">
      <b>Hits Target</b><br>
      <small>(Optional)</small>
      </div> 
      <%= f.text_field :goal, class: "form-control hits" %>
    </div>

    <% unless current_page?(controller: 'links', action: 'new') %>
      <iframe src="<%= @link.link %>"></iframe>
    <% end %>
  </div>

   <div class="form-group coupon form-inline">
    <%= f.text_field :coupon, class: "form-control coupon", placeholder: "Enter coupon code here" %> 
    <%= f.submit "Activate Link", class: "btn btn-success"%> <%= link_to 'Cancel', links_path, class: "btn btn-danger" %>

    <% unless @link.subscribe_opt == 0 %>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-email=<%= current_user.email%>
        data-key="<%=Rails.configuration.stripe[:publishable_key] %>"
        data-image="<%= asset_path 'logo_for_stripe.png' %>"
        data-name="Nested Links"
        data-description= "Payment Details"
        data-panel-label="Add"
        data-label="Activate Link">
      </script>
    <% end %>
   </div>
   <p><small><small>Please note that "Free Link" coupons may still require payment details for the sake of subscription processing, however you will not be charged.</small></small></p>

<% end %>

</div>
