<% if user_signed_in? %>


<div id="nest-title"><%= current_user.name %>'s Nest</div>

<section id="nested_links">


  <% @links.order(:code).each do |link| %>
  <div class="link-item <% link_status(link)%> ">
    <div class="row">
      <div class="col-xs-1 link-icon"><div class="circle"><i class="fa fa-clock-o fa-lg" title="Edit link"></i></div></div>
      <div class="col-xs-7 link-title"><%= link.title %></div>
      <div class="col-xs-4 link-code">@<%= link.code %></div>
    </div>
  </div>
  <div class="link-details">
    Viewed <%= pluralize(Ahoy::Event.where(properties: link.id).count, 'time')%><br>
    <a href="<%=link.link %>"><%= link.link %></a><br>
    created: <%= l(link.created_at, format: :short) %><br><br>
  </div>
  <% end %>
</section>

<% else %>
    
  <% controller.redirect_to new_user_session_path %>

<% end %>

<div class="page-links">
  <%= link_to new_link_path, title: "Create a new link" do %>
    Create New Link
  <% end %>
</div>
