<div id="link-index-img"></div>
  <div id="nest-title"><%= current_user.name %>'s Nest</div>
  
 
    <section id="nested_links">
      <% if @links.present? %>
        <% @links.order(:code).each do |link| %>
        <div class="link-item <%=link_status(link)%>" id="btn-<%=link.id%>">
          <div class="row">
            <div class="col-xs-1 link-icon">
                <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-times fa-lg" title="Delete link"></i>
                <% end %>
              <div class="circle <%= 'hide' if link_status(link) == 'expired' %>">
                <div class="tag-img"><%= image_tag("sub-tag-#{link.subscribe_opt}.png", :alt => "Nest Type", size: "47") %></div>
              </div>
            </div>
            <div class="col-xs-8 link-title"><%= link.title %></div>
            <div class="col-xs-3 link-code">@<%= link.code %></div>
          </div>
        </div>

        <script> 
        $(document).ready(function(){
            $("#btn-"+<%=link.id%>).click(function(){
                $("#display-"+<%=link.id%>).slideToggle("slow");
                /*$("#float-"+<%=link.id%>).fadeToggle("slow");*/
            });
        });
        </script>

        <div class="link-details <%=link_status(link)%>" id="display-<%=link.id%>">    
          <%= render "link_details", link: link %>
        </div>

        <% end %>

      <% else %>
        <div id="no-links"> 
          Create a link by clicking here.<br><br>
          <i class="fa fa-arrow-down fa-4x" title="Guide"></i>
        </div>
      <% end %>
    </section>
  </div>

  <div class="page-links">
    <%= link_to "#link-choice-modal", "data-toggle" => "modal" do %>
      Create New Link
    <% end %> |
    <%= link_to edit_user_registration_path do %>
      Account Settings
    <% end %>


  <div class="modal fade" id="link-choice-modal">
    <%= render "link_options" %>
  </div>


