<% if user_signed_in? %>

<header id="top_header" class="clearfix">

  <div class="wrapper">

    <h1 class="logo">Nested</h1>
    <nav id="main_nav">
      <%= link_to 'New', new_link_path %> |
      <%= link_to "home", root_path %> | 
      <%= link_to "sign out", destroy_user_session_path, :method => :delete %> 
    </nav>
  </div>
  </header>

  <section id="banner" class="clearfix">
    
    <div id="banner_content_wrapper">
      <div id="preview">
        <iframe src="http://fortawesome.github.io/Font-Awesome/icons/"></iframe>
      </div>
      <div id="content">
        <p class="code">@<span>100010</span></p>
        <p class="title">Font Awesome Website</p><br>
      
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br>

        <p class="info">meta info<span>|</span> meta info<span>|</span>meta info<span>|</span>meta info<span>|</span></p>

      </div>
    </div>

  </section>

  <section class="nest_links">
    <div class="wrapper">
      <header class="clearfix">
        <h2><%= current_user.name %> Links</h2>

        <div class="row">
          <% @links.each do |link| %>
            <div class="user-link">
                
                <div class="clearfix">
                  <div id="link-title"><%= link.title %></div>
                  <div id="link-code">@<%= link.code %>
                  </div>
                </div>
                <br>
                <a href="<%=link.link %>" id="link"><%= link.link %></a><br>
                <p id="info"><%= link_to 'Show', link %> | <%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              <br>
              
            </div>

          <% end %>
        </div>
      </header>
    </div>
  </section>



<% else %>
    
  <% controller.redirect_to new_user_session_path %>

<% end %>
