
<section id="graph-section" class="clearfix">

	<h1><%= pluralize(link_count(@link), 'view')%>  for @<%= @link.code %></h1>

	<h2><%= @link.title %></h2>	

	<% if link_count(@link) >= @link.goal && @link.goal != 0 %>
		<div class="goal-achieved"></div>
	<% end %>
	
	<div id="show-details">
		<div class="row">
    <div class="col-xs-4 dial-container">
      <div class="dial">
        <div class="dial-wrapper">
          Created
          <div class="dial-info">
            <span>
              <span class="date"><%= @link.created_at.strftime("%d/%m/%y") %></span><br>
              <span class="time"><%= @link.created_at.strftime("%H:%M") %></span> 
            </span>
          </div>
        </div>     
      </div>
    </div>
    <div class="col-xs-4 dial-container">
      <div class="dial">
        <div class="dial-wrapper">
          Vistis
          <div class="dial-info">
            <%= link_count(@link) %>
          </div>
        </div> 
      </div>
    </div>
    <div class="col-xs-4 dial-container">
      <div class="dial">
        <div class="dial-wrapper">
          Target
          <div class="dial-info">
            <%= @link.goal == 0 ? "-" : @link.goal %>
          </div>  
        </div>
      </div>
    </div>
  </div>
	</div>

	<div class="graphs">
		<div class="row">
			<div class="col-md-4 graph">
				<%= pie_chart [["Need (#{@link.goal-@clicks.count})", @link.goal-@clicks.count], ["Achieved (#{@clicks.count})", @clicks.count]], donut: true, label: "Qty", colors: ["#ED5747", "#9ED561"], library: {title: {text: "Target #{@link.goal} Visits"}} %>
			</div>
			<div class="col-md-8 graph no-border">
				<%= area_graph("minutes", "300px", "100%") %>
				
			</div>
		</div>	
		<br><br>
		<div class="row">
		<div class="graph">
			<%= area_graph("hour_of_day", "300px", "100%") %>
		</div>
	</div>
	</div>

</section>

<footer class="page-links">
	<%= link_to 'Back', links_path %> |
	<%= link_to 'New Link', new_link_path %> |
	<%= link_to 'Edit Link', edit_link_path(@link) %>
</footer>	
