
<section id="graph-section" class="clearfix">

	<h1><%= pluralize(link_count(@link), 'unique view')%>  for @<%= @link.code %></h1>
	<h2><%= @link.title %></h2>	

	<% if link_count(@link) >= @link.goal && @link.goal != 0 %>
		<div class="goal-achieved"></div>
	<% end %>

	<div class="goals">
	<div id="goal-actual">Current</div>
	<% if @link.goal != 0 %>
	<div id="goal-expected">Goal (<%= @link.goal%>)</div>
	<% end %>
	</div>

	<%= line_chart @clicks.group_by_minute(:time).count %>


</section>

<footer class="page-links">
	<%= link_to 'Back', links_path %> |
	<%= link_to 'New Link', new_link_path %> |
	<%= link_to 'Edit Link', edit_link_path(@link) %>
</footer>	
