
<section id="graph-section" class="clearfix">

	<h1><%= pluralize(Ahoy::Event.where(properties: @link.id).count, 'unique view')%>  for @<%= @link.code %></h1>
	<h2><%= @link.title %></h2>	
	<%= line_chart Ahoy::Event.where(properties: @link.id).group_by_day( :time, "count" ), id: "clicks-chart", label: "Clicks", colors: ["#ED5747"] %>

</section>

<section id="view-section">

	<div id="show-link">
		<strong>Link:</strong><a href="<%=@link.link %>"> <%= @link.link %></a>
	</div>
	
	<iframe id="link-view" src="<%= @link.link %>">No View Available for this address.</iframe>

</section>

<footer class="page-links">
	<%= link_to 'Back', links_path %> |
	<%= link_to 'New Link', new_link_path %> |
	<%= link_to 'Edit Link', edit_link_path(@link) %>
</footer>	
