
<section id="graph-section" class="clearfix">

	<h1><%= pluralize(Ahoy::Event.where(properties: @link.id).count, 'unique view')%>  for @<%= @link.code %></h1>
	<h2><%= @link.title %></h2>	

	<% if @link.goal <= Ahoy::Event.where(properties: @link.id).count && @link.goal != 0%>
		<div class="goal-achieved"></div>
	<% end %>

	<div class="goals">
	<div id="goal-actual">Current</div>
	<% if @link.goal != 0 %>
	<div id="goal-expected">Goal (<%= @link.goal%>)</div>
	<% end %>
	</div>

	<%= content_tag :div, "", id: "clicks_chart", data: {clicks: clicks_chart_data, total: total_clicks, goal: goal_clicks} %>

</section>

<section id="analytics-section">

	<%= content_tag :div, "", id: "target_chart", data: {clicks: clicks_chart_data} %>

</section>

<footer class="page-links">
	<%= link_to 'Back', links_path %> |
	<%= link_to 'New Link', new_link_path %> |
	<%= link_to 'Edit Link', edit_link_path(@link) %>
</footer>	
