
<section id="graph-section" class="clearfix">

	<h1><%= pluralize(link_count(@link), 'view')%>  for @<%= @link.code == "" ? "expired" : @link.code %></h1>

	<h2><%= @link.title %></h2>	

	<% if link_count(@link) >= @link.goal && @link.goal != 0 %>
		<div class="goal-achieved"></div>
	<% end %>


	
	<div class="graphs">
		<div class="row">
			<div class="col-md-4 graph">
				<%= pie_chart [["Need (#{@link.goal-@clicks.count})", @link.goal-@clicks.count], ["Achieved (#{@clicks.count})", @clicks.count]], donut: true, label: "Qty", colors: ["#ED5747", "#9ED561"], library: {title: {text: "Target #{@link.goal} Visits"}} %>
			</div>
			<div class="col-md-8 graph no-border">
				<%= area_graph("minutes", "300px", "100%") %>
				
			</div>
		</div>	
		<br><br>
		<div class="row">
		<div class="graph">
			<%= area_graph("hour_of_day", "300px", "100%") %>
		</div>
	</div>
	</div>

</section>

<footer class="page-links">
	<%= link_to 'Back', links_path %> |
	<%= link_to 'New Link', new_link_path %> |
	<%= link_to 'Edit Link', edit_link_path(@link) %>
</footer>	
