<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @link.code %>
</p>

<p>
  <strong>Your Title:</strong>
  <%= @link.title %>
</p>
<img src="<%= favicon_show(@link) %>"></img><br>
<p><strong>Author Title:</strong> <%= @page.best_title %> </p>
<p><strong>Description:</strong> <%= @page.description %> </p>
<p><strong>Author:</strong> <%= @page.meta_tag['name']['author']   %> </p>
<p><strong>Type:</strong> <%= @page.meta_tag['name']['og:type']   %> </p>
<p><strong>Host:</strong> www.<%= @page.host  %> </p>
<p><strong>Keywords:</strong> <%= @page.meta_tag['name']['keywords']   %> </p>

<p>
  <strong>Link:</strong>
  <a href="<%=@link.link %>"> <%= @link.link %></a>
</p>

<iframe src="<%= @link.link %>"></iframe>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
